---
import GraphVisualization from "../components/GraphVisualization.jsx";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Graph Visualization</title>
    </head>
    <body>
        <GraphVisualization client:only="react" />
    </body>
</html>
